#!/bin/sh
master=`oc get node -L region | grep master | awk {'print $1'}`
infras=`oc get node -L region | grep infra | awk {'print $1'}`
logging=`oc get node -L region | grep logging | awk {'print $1'}`
apps=`oc get node -L region | grep app | awk {'print $1'}`
metric=`oc get node -L region | grep metrics | awk {'print $1'}`

cat  << EOF > /tmp/openshift_inventory_{{ env }}
[master_nodes]
$master
[infra_nodes]
$infras
[app_nodes]
$apps
[logging_nodes]
$logging
[metric_nodes]
$metric
EOF
